<!-- Simple Header -->
<div class="site-header">
  <div class="container">
    <a href="{{ "/" | relative_url }}" class="site-logo">
      {{ site.title }}
    </a>
    <nav class="site-nav" aria-label="Main Navigation">
      <ul>
        <li><a href="{{ "/" | relative_url }}" class="nav-link">首页</a></li>
        <li><a href="{{ "/archive/" | relative_url }}" class="nav-link">存档</a></li>
        <li><a href="{{ "/about/" | relative_url }}" class="nav-link">关于</a></li>
      </ul>
    </nav>
  </div>
</div>